

// color variables
$grey: #414042;
$blue: #214099;
$teal: #1F7FC3;
$green: #66BD5A;
$lime: #CADD65;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;
	padding-bottom: 40px;

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	background: $blue url(../img/bg-header.jpg) top center repeat-x;
	text-align: center;
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;

	@include respond-to( 768px ) { padding: 30px 50px; }
	@include respond-to( 1025px ) { padding: 40px 70px; }
}



// colors
.bg-blue { background: $blue; }
.bg-teal { background: $teal; }
.bg-green { background: $green; }



// tool styles
.tool {
	padding: 0;
	text-align: center;
	
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	.calculator {
		color: white;
		padding: 10px 15px 10px;
		@include font-title;

		button, input[type=submit], .btn {
			width: 100%;
			margin: 0 auto;
		}
		
		@include respond-to( 768px ) { 
			margin-top: 30px;
			border-radius: 20px;
			font-size: 1.2em;

			img {
				margin-top: 20px;
			}
		}
	}
}



// results styles
.results {
	display: none;
	text-align: center;
	@extend .pad;

	// large title
	h2 {
		@include font;
		font-size: 1.8em;

		@include respond-to( 768px ) {
			font-size: 3em;
			padding: 10px 20px;
		}
	}
}



// button styles
input[type=submit], button, .btn {
	@include font-title;
	padding: 15px;
	background: $lime;
	color: $blue;
	border: 0;
	border-radius: 10px;
	font-size: 2em;
	line-height: 1.4em;
	text-transform: uppercase;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin-top: 10px;

	span {
		display: block;
	}
	
	&:after {
		content: "";
		position: absolute;
		right: 5px;
		top: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
	}

	&:hover {
		opacity: .9;
	}

	&.go-back {
		background: lighten( $grey, 20% );
		font-size: 1.5em;
		color: white;
	}

	@include respond-to( 768px ) {
		max-width: 50%;
		margin: 10px auto;
	}
}



// footer styles
.footer-bar {
	border-top: 10px solid $grey;
	color: $grey;
	padding: 30px 20px;
	text-align: center;

	h2, h4 {
		&, a {

		}

		@include font-title;
	}

	h2 {
		font-size: 3em;
		@include respond-to( 768px ) { font-size: 3.5em; }
	}

	h4 {
		font-size: 17px;
		@include respond-to( 800px ) { font-size: 26px; }
	}

	.sixty, .fourty {
		text-align: center;
	}

	@include respond-to( 768px ) {
		margin-top: 30px;
	}

	.half.separator {
		@include respond-to( 768px ) {
			width: 46.5%;
		}
	}
}



.fine-print {
	padding: 20px 0 0;
	font-size: .85em;
	line-height: 1.3em;
	text-align: left;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

