

// color variables
$grey: #414042;
$blue: #214099;
$teal: #1F7FC3;
$green: #66BD5A;
$lime: #CADD65;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;
	padding-bottom: 40px;

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	background: $blue url(../img/bg-header.jpg) top center repeat-x;
	text-align: center;

	img {
		display: block;
	}
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;

	@include respond-to( 768px ) { padding: 30px 50px; }
	@include respond-to( 1025px ) { padding: 40px 70px; }
}



.intro {
	font-size: 2em;
	text-transform: uppercase;
}



// colors
.bg-blue { background: $blue; }
.bg-teal { background: $teal; }
.bg-green { background: $green; }
.bg-lime { background: $lime; }



// tool styles
.tool {
	padding: 0;
	text-align: center;
	
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	.calculator {
		color: white;
		padding: 10px 15px 10px;
		@include font-title;
		
		@include respond-to( 768px ) { 
			margin-top: 30px;
			border-radius: 20px;
			padding: 20px 15px;
			font-size: 1.2em;
		}

		label {
			display: block;
			padding-bottom: 8px;
		}

		.result {
			line-height: 1.4em;
			background: $green;
			border-radius: 20px;
			padding: 20px;
		}
	}
}



// button styles
input[type=submit], button, .btn {
	@include font-title;
	padding: 15px;
	background: $green;
	color: white;
	border: 0;
	border-radius: 10px;
	font-size: 1.5em;
	line-height: 1.4em;
	text-transform: uppercase;
	display: block;
	width: 90%;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin: 10px auto;
	box-shadow: 3px 3px 25px rgba( black, .3 );

	span {
		display: block;
		font-size: 1.4em;
	}
	
	&:after {
		content: "";
		position: absolute;
		right: 5px;
		top: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
	}

	&:hover {
		opacity: .9;
		color: white;
	}

	&.go-back {
		background: lighten( $grey, 20% );
		font-size: 1.5em;
		color: white;
	}

	&.calculate &.apply {
		background: $green url(../img/bg-button-gradient.png) bottom center repeat-x;
	}

	&.apply-mini {
		background: $green url(../img/bg-button-gradient.png) bottom center repeat-x;
		font-size: 1em;
		width: 120px;
		margin: 0 auto;
	}

	&.inline {
		display: inline-block;
		width: auto;
		text-transform: none;
		margin: 0 5px;
	}
}



// footer styles
.footer-bar {
	background: $blue;
	padding: 20px;
	text-align: center;

	&, a {
		color: white;
	}

	h2, h3 {
		@include font;
	}

	h2, a {
		font-size: 2.4em;
		line-height: 50px;
		text-transform: uppercase;
	}

	h4 {
		font-size: 17px;
		@include respond-to( 800px ) { font-size: 26px; }
	}

	.sixty, .fourty {
		text-align: center;
	}

	@include respond-to( 768px ) {
		margin-top: 30px;
	}

	.half.separator {
		@include respond-to( 768px ) {
			width: 46.5%;
		}
	}
}



.fine-print {
	background: white;
	padding: 20px;
	font-size: .85em;
	line-height: 1.3em;
	text-align: left;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

